a{
    color:#00A2FF
}

a:hover{
    color:#0371AB
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-instagram:hover{
    color:#0371AB;
}

.fa-facebook-f{
    color:#3b5998;
}

.fa-facebook-f:hover{
    color:#0371AB;
}

.fa-twitter{
    color:#1DA1F2;
}

.fa-twitter:hover{
    color:#0371AB;
}

.masthead{
    background:linear-gradient(to bottom,rgba(238, 187, 187,.05) 0,rgba(238, 187, 187, 0.6) 75%,rgb(238, 187, 187) 100%),url(../img/bg-masthead.jpg);
}

.bg-pink{
    background-color: rgb(238, 187, 187);
}

.text-color {
    color: #2B061E;
}